@font-face {
    font-family: 'Quella';
    src: url('/Quella.otf') format('opentype');
}

@font-face {
    font-family: 'Regular';
    src: url('/Lato/Lato-Regular.ttf') format('truetype');
}


h1 {
    font-family: 'Quella', serif;
}

p{ 
    font-family:'Regular', sans-serif; 
}